body {
    font-family: Arial, sans-serif;
    background: rgb(198, 145, 121);
    text-align: center;
    padding: 40px;
    background-size: auto;
}

.container {
    background: white;
    padding: 25px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: transform 0.5s ease;
}

.container:hover {
    transform: scale(1.02);
}

input, select, button {
    padding: 10px;
    margin-top: 10px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background: #141414;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    background: #dc9a6b;
}

#message {
    margin-top: 20px;
    font-size: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

/* When message appears */
#message.show {
    opacity: 1;
    transform: translateY(0px);
}
